a{
    text-decoration: none;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
    margin: 0%;
}

.container-fl{
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

 /* ============= Fonts ========= */
h1{
    font-family: 'Dancing Script', cursive;
}

h2{
    font-family: 'Montserrat', sans-serif;
}

h3{
    font-family: 'Montserrat', sans-serif;   
}

 /* ============= Animation background ========= */
.background {
    background: linear-gradient(132deg, #FC415A, #591BC5, #212335);
    background-size: 400% 400%;
    animation: Gradient 15s ease infinite;
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    padding:0;
    margin:0px;
}

.cube {
    position: absolute;
    top: 80vh;
    left: 45vw;
    width: 10px;
    height: 10px;
    border: solid 1px #D7D4E4;
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    animation: cube 12s ease-in forwards infinite;
}

.cube:nth-child(2n) {
    border-color: #FFF ;
}

.cube:nth-child(2) {
    animation-delay: 2s;
    left: 25vw;
    top: 40vh;
}

.cube:nth-child(3) {
    animation-delay: 4s;
    left: 75vw;
    top: 50vh;
}

.cube:nth-child(4) {
    animation-delay: 6s;
    left: 90vw;
    top: 10vh;
}

.cube:nth-child(5) {
    animation-delay: 8s;
    left: 10vw;
    top: 85vh;
}

.cube:nth-child(6) {
    animation-delay: 10s;
    left: 50vw;
    top: 10vh;
}

/* ================= Header ============ */
header{
    position: absolute;
    top:0%;
    left: 0%;
    width:100%;
    margin: 0;
    padding: 0;
}

/* navbar */
nav{
    color: #FFF;
    float: right;
    margin:5% 5% 20%;
}

nav ul{
    list-style: none;
}

nav ul li {
    float: left;
    transition: .3s;
    
}

nav ul li a{
    text-decoration: none;
    color: #EFEEF5;
    transition: .5;
    font-size: 15px;
    margin-left:16px;
}

/* Logo */
/* Logo */
.logo{
    width: 45px;
    height: 35px;
    background: #EFEEF5;
    margin: 5% 5%;
    float: left;
    transform: rotate(-30deg);
}

.logo span{
    color: #591BC5;
    font-size: 2em;
    line-height: 1.4;
    padding-left: 5px;
    font-weight: bold;
}

/* Header content & title & button*/

.header-content{
    margin-top:25%;
    text-align: center;
    color:  #EFEEF5;
    clear: both;
}

.header-content h1{
    text-transform: uppercase;
    font-size: 3em;
    letter-spacing: 1px;
}

.header-content p {
    font-size: 20px;
    line-height: 1.5;
    margin: 20px auto;
}

.header-content .button{
    width: 140px;
    margin:20px 10px;
    color: #591BC5;
    font-size: 17px;
    border:1px solid #EFEEF5;
    font-weight: 500;
    background: #EFEEF5;
    border-radius: 20px;
    padding: 10px;
    cursor:pointer;
    transition: .3s;
    text-decoration: none;
  }

.header-content .button2{
    width: 140px;
    margin:20px 10px;
    color: #591BC5;
    font-size: 17px;
    color: #EFEEF5;
    border:1px solid #EFEEF5;
    font-weight: 500;
    background: none;
    border-radius: 20px;
    padding: 10px;
    cursor:pointer;
    transition: .3s;
    text-decoration: none;
}

.header-content button:hover{
    border-radius: 0;
}



/*****************/
/*     About     */
/*****************/
#about{
    background-color: #f7f9fb;
}

#about h2{
    color: #591BC5;
	font-weight: 600;
}

.basic-1 {
	padding-top: 7.75rem;
	padding-bottom: 5.25rem;
}

.basic-1 .text-container {
	margin-bottom: 3rem;
}

.basic-1 .time {
	margin-bottom: 0.5rem;
	color: #0b36a8;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 1.5rem;
	font-family: "Poppins";
}

.basic-1 h4 {
	margin-bottom: 0.125rem;
    color: #0b36a8;
}

/*****************/
/*     Projects     */
/*****************/
#projects{
    background-color: #f7f9fb;
}

#projects h2{
    color: #591BC5;
	font-weight: 600;
}

.carousel-image{
    display: flex;
    justify-content: center;
}

/*=====Contact=====*/
#contact{
    background-color: #f7f9fb;
    margin: 0%;
    padding: 0.004%;
}

.contact-form{
    background: #fff;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 70%;
}
.contact-form .form-control{
    border-radius:1rem;
}

.contact-form form{
    padding: 14%;
}
.contact-form form .row{
    margin-bottom: -7%;
}
.contact-form h3{
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #0062cc;
}

.contact-form p{
    margin-bottom: 5%;
    margin-top: 0%;
    text-align: center;
    color: #0062cc;
}

.contact-form .btnContact {
    width: 80%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #dc3545;
    font-size: small;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
.btnContactSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
}

.form-group{
    margin-bottom: 5%;
}

/* ================= Footer ============ */
.copyright{
    color: #EFEEF5;
    font-size: x-small;
}

.footer-bg {
	padding-top: 4.25rem;
	padding-bottom: 2rem;
	text-align: center;
    background: linear-gradient(132deg, #FC415A, #591BC5, #212335);
    background-size: 400% 400%;
    animation: Gradient 15s ease infinite;
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin:0px;
}

.link-icon{
    height: 5%;
    width: 5%;
    margin: 0 2% 3% 2%;
}


/* Animate Background*/
@keyframes Gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}
 
@keyframes cube {
    from {
      transform: scale(0) rotate(0deg) translate(-50%, -50%);
      opacity: 1;
    }
    to {
      transform: scale(20) rotate(960deg) translate(-50%, -50%);
      opacity: 0;
    }
}


